@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    background-color: #03989E;
    
    scroll-behavior: smooth;
    
    font: inherit;
    font-family: Arvo;
    line-height: normal;
}

.navigation_bar {
    visibility: hidden;
}

/*___________ANIMATIONS_____________*/

@keyframes shakeImage {
    50% {rotate: 15deg;}
    75% {rotate: -15deg;}
}

@keyframes shadowMoves {
    0% {-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);}

    25% {-webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15x 15px rgba(0,0,0,0.75);}

    50%{-webkit-box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.75);}

    75%{-webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15x 15px rgba(0,0,0,0.75);}

    100%{-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);}
}

@keyframes shadowMovesInSet {
    0% {-webkit-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);}

    25% {-webkit-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);}

    50%{-webkit-box-shadow: inset 0px 18px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 18px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 18px 10px 0px rgba(0,0,0,0.75);}

    75%{-webkit-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.75);}

    100%{-webkit-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.75);}
}

@keyframes ButtonAnimation {
    0% {
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
}

@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
  }