@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    background-color: #6A5ACD;
    
    scroll-behavior: smooth;
    
    font: inherit;
    font-family: Arvo;
    line-height: normal;
}

.navigation_bar {
    visibility: hidden;
}