.cabecalho {
    display: static;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(20px);

    position: fixed;
    z-index: 1;

    border-bottom: 1px solid black;
    transition: .1s;

    height: 2.5rem;
    width: 100%;
    top: 0;
}

.cabecalho__div {
    background-color: transparent;

    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    height: 2.5rem;
    width: 100%;
}

.cabecalho__div-nome {
    background-color: transparent;

    font-size: 20px;
    font-weight: 600;
    margin-left: 1rem;
}

.cabecalho__menu {
    background-color: transparent;

    border: none;

    margin-right: 1rem;
}

.cabecalho__menu-img {
    background: transparent;

    width: 1.5rem;
}

.cabecalho__menu-display {
    background-color: transparent;

    position: fixed;
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    text-align: center;

    top: 2.5rem;
    height: 12.5rem;
    width: 100%;
}

.cabecalho__menu-link {
    color: black;
    background-color: transparent;

    font-size: 1.2rem;
    font-weight: bold;

    text-decoration: none;
}


/* ____________________ Tablet Width 768px ____________________*/

@media screen and (min-width:768px) and (max-width: 1023px) {
    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__div {
        width: 20%;
    }

    .cabecalho__menu-display {
        position: static;
        visibility: visible;

        justify-content: space-around;
        flex-direction: row;

        text-align: center;

        height: 2.5rem;
        width: 65%;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__menu-link {
        font-weight: bold;
        font-size: 14px;
    }
}

/* ____________________ dekstop Width 1024px ____________________*/

@media screen and (min-width:1024px) {
    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__div {
        width: 20%;
    }

    .cabecalho__menu-display {
        position: static;
        visibility: visible;

        justify-content: space-around;
        flex-direction: row;

        text-align: center;

        height: 2.5rem;
        width: 65%;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__menu-link {
        font-weight: bold;
        font-size: 14px;
    }
}