.contatos {
    background-color: transparent;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    margin: 1rem 0;
}

.contatos__link {
    background-color: transparent;
}

.contatos__boxes {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.contatos__imagem {
    background-color: transparent;

    width: 8vh;
}

/* ____________________ Tablet Width 768px ____________________*/

@media screen and (min-width:768px) and (max-width: 1023px) {
    .contatos {
        width: 70%;
    }
}


/* ____________________ nootbook Width 1024px ____________________*/
@media screen and (min-width:1024px) {
    .contatos {
        margin-top: 1rem;
    }

    .contatos__boxes {
        width: 55%;
    }
}