.habilidades {
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.habilidades__titulo {
    background-color: transparent;
    text-align: center;

    margin: 3rem 0px 2rem 0px;

    font-size: 2rem;
    font-weight: 600;
}

.habilidades__div {
    background-color: transparent;

    width: 100%;
}

.habilidades__div-divs {
    background-color: transparent;
}

.habilidades__div-boxes {
    background-color: transparent;

    display: flex;
    justify-content: space-between;

    width: calc(100% - 4rem);
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.habilidades__div-box {
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 1rem;

    width: 40%;

    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.habilidades__imagem {
    background-color: transparent;

    width: 10vh;

    margin: .5rem;
}

.habilidades__texto {
    background-color: transparent;

    text-align: center;
    font-size: 1rem;

    margin: .5rem;
}

.habilidades__div-habilidade {
    display: none;
}

.descricao__habilidade {
    display: none;
}

/* ____________________ Tablet Width 768px ____________________*/

@media screen and (min-width:768px) and (max-width: 1023px) {
    .habilidades {
        justify-content: space-between;
    }

    .habilidades__div-boxes {
        margin: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .habilidades__imagem {
        width: 7vw;
    }

    .habilidades__div {
        display: flex;

        margin: 2rem;
    }

    .habilidades__div-box {
        width: calc(100vw / 6 - 2rem);
        margin: .5rem;
    }

    .habilidades__div-divs {
        display: flex;
        justify-content: space-around;

        width: 100vw;
    }
}

/* ____________________ dekstop Width 1024px ____________________*/
@media screen and (min-width:1024px) {
    .habilidades__div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin: 2rem 0;
    }

    .habilidades__div-boxes {
        width: 100%;
        margin: 0;
    }

    .habilidades__div-divs {
        display: flex;
        background-color: transparent;
        flex-direction: column;
        justify-content: space-around;

        width: 40vw;
        height: 70vh;
    }

    .descricao__habilidade {
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 40vw;

        border: 1px solid black;
        border-radius: 15px;

        -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    }

    .descricao__habilidade-titulo {
        background-color: transparent;
        font-size: 2rem;

        margin: 1rem;
    }

    .descricao__habilidade-div {
        background-color: transparent;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        visibility: hidden;

        height: 100%;
    }

    .descricao__habilidade-img {
        background-color: transparent;

        width: 25vh;
        margin: 1rem;
    }

    .descricao__habilidade-texto {
        background-color: transparent;

        text-align: center;
        font-size: .9rem;
        height: 20vh;

        margin: 1rem 2rem;
    }

    /*_____Animações____*/

    .habilidades__div-box:hover {
        transition: .5s;
        background-color: #03989E;

        cursor: pointer;

        box-shadow: none;
    }

    .habilidades__div-box:not(:hover) {
        transition: 1s;
    }
}