.projetos {
    animation: shadowMovesInSet 10s infinite;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.projetos__titulo {
    background-color: transparent;
    
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    width: 90%;

    margin: 3rem 0px 2rem 0px;
}

.projetos__boxes {
    background-color: transparent;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 3rem;
}

.projetos__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 35vh;
    margin: 1rem;
}

.projetos__box-imagem {
    width: 100%;

    border: 1px solid black;
    border-radius: 20px;

    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

/* ____________________ Tablet Width 768px ____________________*/

@media screen and (min-width:768px) and (max-width: 1023px) {
    .projetos__boxes {
        flex-direction: row;
    }
}

/* ____________________ nootbook Width 1024px ____________________*/
@media screen and (min-width:1024px){
    .projetos__boxes {
        flex-direction: row;
        justify-content: space-around;
        
        width: 100%;
    }
}